# Credits: https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-uswgi-and-nginx-on-ubuntu-18-04
[Unit]
Description=uWSGI instance to serve Twillow
After=network.target

[Service]
User=wl
Type=simple
WorkingDirectory=/home/wl/twillow
ExecStart=poetry run uwsgi --ini wsgi.ini
Restart=on-failure

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
